html {
  scroll-behavior: smooth;
}
body {
  background-color: #303030;
  font-family: "Prompt", sans-serif;
  color: rgba(255, 255, 255, 0.7);
}
body a {
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  /* text-decoration: none; */
}
body a:hover {
  color: crimson;
}
h1 {
  background-image: linear-gradient(
    to bottom right,
    #c990ab,
    rgba(255, 0, 0, 0.712)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header {
  margin-bottom: 15px;
  text-align: center;
}
header h1 {
  border-bottom: 2px solid #c990ab;
  border-radius: 100%;
  border-width: 0.5vw;
  padding-bottom: 15px;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin: 0 auto;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: #e6dfdf30;
  border-radius: 20px;
  box-shadow: 0 0 10px #000000;
}
.image-quote {
  width: 70vw;
  transition: 500ms;
}
.image-quote img {
  box-shadow: 0 0 10px #000000;
  border-radius: 20px;
  width: 70vw;
  height: auto;
}
.image-quote:hover {
  background-color: #303030;
  border-radius: 20px;
  transform: scale(1.1);
  box-shadow: 0 0 100px #c990ab;
}
.quote {
  text-align: center;
  background-color: #30303084;
  margin-top: 15px;
  padding: 1em;
  border-radius: 20px;
  box-shadow: 0 0 10px #000000;
}
.bulletpoints {
  text-align: justify;
  width: 70vw;
}
.block-quote {
  transition: 500ms;
}
.block-quote:hover {
  background-color: #303030;
  border-radius: 20px;
  transform: scale(1.1);
  box-shadow: 0 0 100px #c990ab;
}
footer {
  margin: 15px auto;
  width: 80vw;
  padding: 1rem;
  background-color: #e6dfdf30;
  border-radius: 20px;
  box-shadow: 0 0 10px #000000;
  text-align: center;
}
